################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorldAPI/.vs/HelloWorldAPI
/.vs
/HelloWorldAPI/HelloWorldAPI/bin/Debug/net6.0
/HelloWorldAPI/HelloWorldAPI/obj
